body {
    font-family: "IBM Plex Mono", serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 2em 10%; /* Keep margins for the rest of the content */
    background-color: #fff;
}

.header-image {
    width: 100%; /* Make the image full width */
    height: auto;
    display: block;
    margin: 0; /* Remove margins around the image */
}

h1 {
    font-family: "IBM Plex Mono", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5em;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
